/* Hide scrollbar for Chrome, Safari and Opera */
.bookcard-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.bookcard-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.bookcard {
    border-radius: 5px;
    background-color: whitesmoke;
    width: 12rem;
}

.bookcard-cover {
    width: 10rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}


.bookcard-title {
    display: inline-block;
    height: 4ex;
    overflow: hidden;
}

i {
    color: black;
    text-decoration: none;
}