body {
    min-height: 100vh;
}

.bookcard {
    min-width: 10rem;
    max-width: 10rem;
    text-align: center;
}

.bookcard-container::-webkit-scrollbar {
    display: none;
}

.bookcard-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bookcard-cover {
    max-width: 7rem;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 255, .2);
}

.bookcard-writer,
.bookcard-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bookcard-description {
    display: none;
}

.text-center-phones {
    text-align: center;
}

/*Desktop view*/
@media screen and (min-width: 992px) {
    .bookcard {
        min-width: 20rem;
        max-width: 30rem;

        border-radius: 5px;
        position: relative;
        text-align: left;
    }

    .bookcard-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .text-center-phones {
        text-align: left;
    }

    .points {
        max-width: 50%;
    }
}

.form-range::-webkit-slider-thumb {
    background-color: rgba(139, 94, 60, 1);

}

.form-range::-moz-range-thumb {
    background-color: rgba(139, 94, 60, 1);
}

nav i {
    color: black;
    text-decoration: none;
}

.bookcard-rating, .rating {
    color: rgba(139, 94, 60, 1);
}

.rating-star {
    cursor: pointer;
}

.btn-brown,
.pill-active {
    background-color: rgba(139, 94, 60, 1);
    color: white;
}

.card {
    background-color: rgba(225, 211, 180, 0.2);
}

navbar,
.table-head-brown,
.table-foot-brown {
    background-color: rgba(225, 211, 180, 1);
}

.img-basket {
    max-width: 5rem;
}

.pill-active,
.pill-inactive {
    border-radius: 50px;
}

.pill-inactive {
    border: 1px rgba(139, 94, 60, 1) solid;
}

.pill-active {
    border: none;
}