RewriteEngine On
RewriteRule ^/$ /?p=main [L]
RewriteRule ^main$ /?p=main [L]

RewriteRule ^login$ /?p=login [L]

RewriteRule ^forgotten$ /?p=forgotten-password [L]

RewriteRule ^signup$ /?p=signup [L]

RewriteRule ^signout$ /?p=signout [L]

RewriteRule ^profile$ /?p=profile [L]

RewriteRule ^search$ /?p=search [L]

RewriteRule ^basket$ /?p=basket [L]

RewriteRule ^books$ /?p=books [L]
RewriteRule ^books/([0-9]+)/?$ /?p=book&isbn=$1 [NC,L]

RewriteRule ^addbook$ /?p=addbook [L]
RewriteRule ^modifybook/([0-9]+)/?$ /?p=modifybook&isbn=$1 [NC,L]
RewriteRule ^modifybook$ /?p=modifybook [L]